<!DOCTYPE html>
<html>
<head>
  <title>TODO App</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>TODO App</h1>
  <form action="/todos" method="post">
    <input type="text" name="task" placeholder="Enter your task..." required>
    <input type="submit" value="Add">
  </form>
  <ul>
    <% @todos.each do |todo| %>
      <li class="<%= todo.completed ? 'completed' : '' %>">
        <%= todo.task %>
        <% unless todo.completed %>
          <form action="/todos/<%= todo.id %>" method="post">
            <input type="hidden" name="_method" value="patch">
            <input type="submit" value="Mark as Completed">
          </form>
        <% end %>
        <form action="/todos/<%= todo.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </li>
    <% end %>
  </ul>
</body>
</html>
